/* Estilos para Plantilla */
.container {
    margin-top: 50px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  button {
    margin-right: 10px;
  }
  .plantilla-container {
    background-image: url('gato.avif');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Ajusta según sea necesario */
  }
    